@import "tailwindcss";

@theme {
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
  
  /* Vivance Brand Colors */
  --color-primary: #fc6603;
  --color-primary-dark: #c84e02;
  --color-secondary: #043560;
  --color-secondary-dark: #021c2e;
}

html,
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

